name: Debug CI

on: [push]

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Debug
        run: echo "Hello World"
      
    - name: Publish Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          **/build/test-results/test/TEST-*.xml
          **/build/reports/tests/
          
    - name: Publish Coverage Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: **/build/reports/jacoco/
